<table>
	<% @bills.each do |b| %>
	  <tr>
		  <td><%= link_to b.name, b %></td>
		  <td><%= b.payee.name %></td>
		  <td><%= number_to_currency b.amount %></td>
		  <td>due: <%= b.due_on.strftime("%Y-%m-%d") %></td>
		  <td>paid: <%= b.paid_on.strftime("%Y-%m-%d") %></td>
		  <td><%= link_to 'edit', edit_bill_path(b) %></td>
		</tr>
	<% end %>
</table>
<%= link_to 'new bill', new_bill_path %>