<html>
	<head>
		<%= stylesheet_link_tag 'basic' %>
		<title>
		roommate finder admin panel
		</title>
	</head>
	<body>
		<%= link_to 'units', units_path %>
		<%= link_to 'rooms', rooms_path %>
		<%= link_to 'renters', renters_path %>
		<%= link_to 'managers', managers_path %>
		<%= link_to 'months', months_path %>
		<%= link_to 'payments', payments_path %>
		<div id='login'>
			<% if current_manager %>
			  <%= link_to current_manager.login, current_manager %>
			  <%= link_to 'log out', logout_path %>
			<% else %>
			  <%= link_to 'log in', login_path %>
			<% end %>
		</div>
		<hr>
		<%= yield %>
	</body>
</html>